.home-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.banner-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.overlay-content {
    position: absolute;
    top: 30%;
    left: 5%;
    transform: translateY(-30%);
    max-width: 850px;
}


.lead {
     font-size: 25px;
    width: 75%;
}

/* Responsive tweaks */
@media (max-width: 768px) {
  .overlay-content {
    top: 15%;
    left: 5%;
    padding-right: 10px;
    transform: translateY(20%);

  }

  .banner-img {
    height: 100vh;
  }

  .lead {
    font-size: 1.3rem;
    width: 90%;
  }

  .display-4 {
    font-size: 2.1rem;
  }
}

@media (max-width: 480px) {
  .overlay-content {
    top: 20%;
    transform: translateY(10%);
  }

  .display-4 {
    font-size: 1.8rem;
  }

  .lead {
    font-size: 1rem;
    width: 100%;
  }
}
 